<template lang="html">
    <div className="ps-copyright">
        <img width="200px" src="~/static/img/logo.jpg" alt="" />
        <p>
            &copy;2022 Conso Invest. <br />
            All rights reversed.
        </p>
    </div>
</template>

<script>
export default {
    name: 'FooterCopyright'
};
</script>

<style lang="scss" scoped></style>
