<template lang="html">
    <section class="ps-dashboard" id="homepage">
        <div class="ps-section__left">
                <div class="ps-section__content">
                    <card-recent-orders :orders="orders" />
                </div>
        </div>
        <div class="ps-section__right">
            <card-statics :solde="user.solde" :pv="user.pv" :id="this.$route.params.caissiere"/>
        </div>
    </section>
</template>
<script>
import CardStatics from "~/components/shared/cards/CardStatics";
import CardRecentOrders from "~/components/shared/cards/CardRecentOrders";

export default {
    auth: false,
    components: { CardRecentOrders, CardStatics},
    layout: "default",
    data(){
        return {
            user: {},
            orders: []
        }
    },
    methods: {
        getPaiement() {
        this.alert = null
        this.loading = true
        this.$store.dispatch('user/histocaisses', this.$route.params.caissiere).then(result => {
            console.log(result.data)
            switch (result.data.success) {
                case true:
                    this.loading = false
                    this.orders = result.data.listEntity
                    console.log(result.data.listEntity.listEntity)
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
        })
      },
        getUser() {
        this.alert = null
        this.loading = true
        this.$store.dispatch('user/get', {
            id:this.$route.params.caissiere
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.loading = false
                    console.log(result.data.user)
                    this.user = result.data.user
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
        })
      }
    },
    async created() {
        this.$store.commit("app/toggleDrawer", false);
        this.getUser();
        this.getPaiement();
    }
};
</script>
