<template lang="html">
    <section class="ps-page">
        <header-dashboard title="Caisses" description="Liste des caisses" />
        <section class="ps-items-listing">
            <div class="ps-section__header">
                <div class="form-group">
                                            <label>Rechercher : </label>
                                            <div>
                                                <input
                                                    class="form-control"
                                                    type="text"
                                                    v-model="searchValue"
                                                    placeholder="Entrer code marchand ..."
                                                />
                                            </div>
                                        </div>
                
            <div class="ps-section__actions my-auto">
                <form-caisse-create/>
            </div>
            </div>
            <div class="ps-section__content">
                <table-caisse-items :caissesFilter="caissesFilter"/>
            </div>
            <div class="ps-section__footer">
                <p>Afficher 10 sur 30 éléments.</p>
                <pagination />
            </div>
        </section>
    </section>
</template>

<script>
import TableCaisseItems from "~/components/shared/tables/TableCaisseItems";
import HeaderDashboard from "~/components/shared/headers/HeaderDashboard";
import Pagination from "~/components/basic/Pagination";
import FormCaisseCreate from "~/components/shared/forms/FormCaisseCreate";
export default {
    auth: false,
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                loading: false,
                searchValue: '',
                caisses: [],
                caisse: {
                    role:2
                },
            }
        },
    components: { Pagination, HeaderDashboard, TableCaisseItems, FormCaisseCreate },
    methods: {
        addcaisse() {
        this.alert.success = false;
        this.alert.error = false;
        this.loading = true
        this.$store.dispatch('user/create', {
            user:this.caisse
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.user = {}
                    this.loading = false
                    this.$store.dispatch('user/caisses');
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    console.log(result.data)
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
      },
    },
    computed:{
        caissesFilter() {
                let tempcaisses = this.$store.getters['user/caisses'];
        
                // Process search input
                if (this.searchValue != '' && this.searchValue) {
                    tempcaisses = tempcaisses.filter((item) => {
                        return item.codemarchant.includes(this.searchValue)
                    })
                }

                return tempcaisses
            }
        },
        beforeMount(){
            this.$store.dispatch('user/caisses')
        }
};
</script>

<style lang="scss" scoped>
    .ps-items-listing .ps-section__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 0px !important;
    }
</style>

