<template>
    <v-layout justify-center align-center>
      <v-card class="elevation-10" style="flex: 0 1 400px">
        <v-card-title class="headline">Sign Up</v-card-title>
        <v-card-text>
          <v-form @submit.prevent="submit">
            <v-alert v-if="alert" :type="alert.type" value="true">{{alert.message}}</v-alert>
            <v-text-field label="code d'ativation" v-model="activationcode"/>
            <v-btn type="submit" :loading="loading" :disabled="loading">Activate</v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-layout>
  </template>
  <script>
  export default {
    middleware: 'authenticated',
    data () {
      return {
        user: {
            "activationcode": this.activationcode,
            'user_id': this.user_id
        }, 
        alert: null,
        loading: false
      }
    },
    methods: {
      submit () {
        this.alert = null
        this.loading = true
        this.$store.dispatch('auth/activate', {
           user:this.user
        }).then(result => {
          switch (result.data.success) {
            case true:
              this.alert = {type: 'success', message: result.data.message}
              this.loading = false
              this.$router.push('/') 
              break;
          
            case false:
              this.loading = false
              if (result.data.error && result.data.error.login) {
              this.alert = {type: 'error', message: result.data.error.login || result.data.success}
              }
              break;
          }
        }).catch(error => {
            this.loading = false
            if (error.response && error.response.data) {
            this.alert = {type: 'error', message: error.response.data.message || error.reponse.status}
            }
        })
      }
    },
    computed: {
        user_id () {
            return this.$store.getters['auth/user'].id
        }
    }
  }
  </script>