<template>
  <div id="login" class="text-center">
    <div class="body">
      <main class="form-signin w-100 m-auto border-1 rounded p-20">
        <form>
          <img class="mb-4" src="~/static/img/groupe30.png" alt="" width="100">
          <h1 class="h3 mb-3 fw-normal">Administration</h1>
          <div v-if="alert.success" class="alert alert-success" role="alert">
            {{alert.message}}
          </div>
          <div v-if="alert.error" class="alert alert-danger" role="alert">
            {{alert.message}}
          </div>
          <div class="form-floating text-start px-15">
            <input type="text" v-model="data.login" class="form-control" id="floatingInput" placeholder="Login">
            <label for="floatingInput">Login</label>
          </div>
          <div class="form-floating text-start px-15">
            <input type="password" v-model="data.password" class="form-control" id="floatingPassword" placeholder="PIN">
            <label for="floatingPassword">PIN</label>
          </div> 
          <button class="w-100 btn btn-lg btn-primary text-white" type="button" @click="userLogin">
            <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div> 
          <span v-else> Valider</span>
          </button>
          <p class="mt-5 mb-3 text-muted">&copy;2022 Conso Invest. All rights reversed.</p>
        </form>
      </main>
      
    </div>
  </div>
  </template>
  <script>
    export default {
      layout: 'fullscreen',   
      data() {
        return {
          alert: {
            error:false,
            success:false,
            message:''
          },
          loading:false,
          data: {
            username: '',
            password: ''
          }
        }
      },
      methods: {
        async userLogin() {
          this.loading=true;
          try {
            this.alert.success = false;
            this.alert.error = false;
            let fd = new FormData()
            fd.append("login", this.data.login);
            fd.append("password", this.data.password);
            let response = await this.$auth.loginWith('local', { data: fd })
            if(response.data.success){
              this.alert.success = true;
              this.alert.message = response.data.detail;
              this.$store.commit('user/set_user', response.data.user);
              //this.$auth.setUser(response.data.user);
              this.$toasted.show(response.data.detail, {
                position: 'top-center',
                duration: 1000,
                type: 'success',
              });
                  switch (response.data.user.role) {
                    case "3":
                      this.$router.push({ path: '/revendeurs/'+response.data.user.role});
                      break;
                  
                    default:
                      this.$router.push('/');
                      break;
                  }
            }else{
              this.alert.error = true;
              this.alert.message = response.data.error.login;
            }
          } catch (err) {
            this.alert.error = true;
            this.alert.message = "Echec Réseau";
            this.$toast.error('Username or Password wrong');
            console.log(err)
          }
          this.loading=false;
        },
        check(){
          console.log(this.$auth.loggedIn)
        },
        logout() {
          this.$toast.show('Logging out...', {icon: "fingerprint"});
          this.$auth.logout()
        },
      }
    }
    /*
      export default {
        data () {
          return {
            login:{},
            alert: null,
            loading: false
          }
        },
        methods: {
          submit () {
            this.alert = null
            this.loading = true
            this.$store.dispatch('auth/login', this.user).then(result => {
              switch (result.data.success) {
                case true:
                  this.alert = {type: 'success', message: result.data.message}
                  this.loading = false
                  this.$router.push('/') 
                  break;
              
                case false:
                  this.loading = false
                  if (result.data.error && result.data.error.login) {
                  this.alert = {type: 'error', message: result.data.error.login || result.data.success}
                  }
                  break;
              }
            }).catch(error => {
                this.loading = false
                if (error.response && error.response.data) {
                this.alert = {type: 'error', message: error.response.data.message || error.reponse.status}
                }
            })
          }
        }
      }
    */
    </script>
    <style>
      #login,
.body {
  height: 100%;
}

.body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  text-align: left;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  text-align: left;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
    </style>
   