<template>
  <div id="register">
    
    <div class="groupe30">
      </div>
      <v-form @submit.prevent="submit" style="text-align: center;">
              <v-alert v-if="alert" :type="alert.type" value="true">{{alert.message}}</v-alert>
        <h3>Enregistrez vous !</h3>
        <span class="text-center mx-auto">connectez vous si vous avez un compte <NuxtLink to="/authenticate/login">
              ici
            </NuxtLink></span>
        <div class="row">
          <div class="col">
              <input type="text" v-model="user.firstname" placeholder="nom" id="firstname">
          </div>
          <div class="col">
              <input type="text" v-model="user.lastname" placeholder="prenom" id="lastname">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <input type="tel" v-model="user.phonenumber" placeholder="Numéro Téléphone" id="phonenumber">
          </div>
          <div class="col">
            <input type="email" v-model="user.email" placeholder="Email" id="email">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <v-select
            :items="roles"
            label="role"
            item-text="name"
            item-value="id"
            v-model="user.role"
            ></v-select>
          </div>
          <div class="col">
            <v-select
            :items="countries"
            label="country"
            item-text="name"
            item-value="id"
            v-model="user.country"
            ></v-select>
          </div>
        </div>

        <v-btn class="button" elevation="0" type="submit" :loading="loading" :disabled="loading">Inscription</v-btn>
    </v-form>
  </div>
  </template>
  <script>
  export default {
    layout: 'fullscreen',    
    auth: false,
    data () {
      return {
        user: {},
        roles: [{id:1,name:'admin'},{id:2,name:'caissiere'}],
        countries: [{"id":"1","name":"AFGHANISTAN","iso":"AF","phonecode":"93","status":"0"},{"id":"2","name":"ALBANIA","iso":"AL","phonecode":"355","status":"0"},{"id":"3","name":"ALGERIA","iso":"DZ","phonecode":"213","status":"0"},{"id":"4","name":"AMERICAN SAMOA","iso":"AS","phonecode":"1684","status":"0"},{"id":"5","name":"ANDORRA","iso":"AD","phonecode":"376","status":"0"},{"id":"6","name":"ANGOLA","iso":"AO","phonecode":"244","status":"0"},{"id":"7","name":"ANGUILLA","iso":"AI","phonecode":"1264","status":"0"},{"id":"8","name":"ANTARCTICA","iso":"AQ","phonecode":"0","status":"0"},{"id":"9","name":"ANTIGUA AND BARBUDA","iso":"AG","phonecode":"1268","status":"0"},{"id":"10","name":"ARGENTINA","iso":"AR","phonecode":"54","status":"0"},{"id":"11","name":"ARMENIA","iso":"AM","phonecode":"374","status":"0"},{"id":"12","name":"ARUBA","iso":"AW","phonecode":"297","status":"0"},{"id":"13","name":"AUSTRALIA","iso":"AU","phonecode":"61","status":"0"},{"id":"14","name":"AUSTRIA","iso":"AT","phonecode":"43","status":"0"},{"id":"15","name":"AZERBAIJAN","iso":"AZ","phonecode":"994","status":"0"},{"id":"16","name":"BAHAMAS","iso":"BS","phonecode":"1242","status":"0"},{"id":"17","name":"BAHRAIN","iso":"BH","phonecode":"973","status":"0"},{"id":"18","name":"BANGLADESH","iso":"BD","phonecode":"880","status":"0"},{"id":"19","name":"BARBADOS","iso":"BB","phonecode":"1246","status":"0"},{"id":"20","name":"BELARUS","iso":"BY","phonecode":"375","status":"0"},{"id":"21","name":"BELGIUM","iso":"BE","phonecode":"32","status":"0"},{"id":"22","name":"BELIZE","iso":"BZ","phonecode":"501","status":"0"},{"id":"23","name":"BENIN","iso":"BJ","phonecode":"229","status":"0"},{"id":"24","name":"BERMUDA","iso":"BM","phonecode":"1441","status":"0"},{"id":"25","name":"BHUTAN","iso":"BT","phonecode":"975","status":"0"},{"id":"26","name":"BOLIVIA","iso":"BO","phonecode":"591","status":"0"},{"id":"27","name":"BOSNIA AND HERZEGOVINA","iso":"BA","phonecode":"387","status":"0"},{"id":"28","name":"BOTSWANA","iso":"BW","phonecode":"267","status":"0"},{"id":"29","name":"BOUVET ISLAND","iso":"BV","phonecode":"0","status":"0"},{"id":"30","name":"BRAZIL","iso":"BR","phonecode":"55","status":"0"}],
        alert: null,
        loading: false
      }
    },
    methods: {
      submit () {
        this.alert = null
        this.loading = true
        this.$store.dispatch('auth/register', {
           user:this.user
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.alert = {type: 'success', message: result.data.message}
                    this.loading = false
                    this.$router.push('/authenticate/activate')
                    break;
            
                case false:
                    this.loading = false
                    console.log(result.data.error.phonenumber || result.data.error.email);
                    if (result.data.error.phonenumber || result.data.dataerror.email) {
                      this.alert = {type: 'error', message: result.data.error.phonenumber || result.data.data.error.email}
                    }
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            if (error.response && error.response.data) {
            this.alert = {type: 'error', message: error.response.data.message || error.reponse.status}
            }
        })
      }
    }
  }
  </script>
  
  <style media="screen">
    #register .groupe30 {
      position: absolute;
      display: block;
      width: 400px;
      height: 400px;
      background: transparent url('~/static/img/groupe30.png') 0% 0% no-repeat padding-box;
      opacity: 1;
      /* top: 99px; */
      /* left: 170px; */
      bottom: 0;
      background-size: cover;
      background-position: -70px 50px;
  }
  #register .background{
      width: 430px;
      height: 450px;
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
  }
  #register form{
      width: 700px !important;
      background-color: rgba(255,255,255,0.13);
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(255,255,255,0.1);
      box-shadow: 0 0 40px rgba(8,7,16,0.6);
      padding: 50px 35px;
      display: block;
  }
  #register form *{
      font-family: 'Poppins',sans-serif;
      color: #ffffff;
      letter-spacing: 0.5px;
      outline: none;
      border: none;
  }
  #register form h3{
      font-size: 32px;
      font-weight: 500;
      line-height: 42px;
      text-align: center;
  }
  #register input{
      display: block;
      height: 50px;
      width: 100%;
      background-color: rgba(255,255,255,0.07);
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 300;
  }
  ::placeholder{
      color: #e5e5e5;
  }
  #register .button{
      margin-top: 50px;
      width: 50%;
      background-color: #ffffff;
      color: #080710;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
  }

  .theme--light.v-select .v-select__selections {
    color: rgba(0, 0, 0, 0.87);
}
  
</style>