<template lang="html">
    <section class="ps-page">
        <header-dashboard title="Revendeurs" description="Liste des revendeurs" />
        <section class="ps-items-listing">
            <div class="ps-section__header">
                <div class="form-group">
                                            <label>Rechercher : </label>
                                            <div>
                                                <input
                                                    class="form-control"
                                                    type="text"
                                                    v-model="searchValue"
                                                    placeholder="Entrer code marchand ..."
                                                />
                                            </div>
                                        </div>
                
            <div class="ps-section__actions my-auto">
                <formrevendeur-create/>
            </div>
            </div>
            <div class="ps-section__content">
                <tablerevendeur-items :revendeursFilter="revendeursFilter"/>
            </div>
            <div class="ps-section__footer">
                <p>Afficher 10 sur 30 éléments.</p>
                <pagination />
            </div>
        </section>
    </section>
</template>

<script>
import TablerevendeurItems from "~/components/shared/tables/TablerevendeurItems";
import HeaderDashboard from "~/components/shared/headers/HeaderDashboard";
import Pagination from "~/components/basic/Pagination";
import FormrevendeurCreate from "~/components/shared/forms/FormrevendeurCreate";
export default {
    auth: false,
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                loading: false,
                searchValue: '',
                revendeurs: [],
                revendeur: {
                    role:2
                },
            }
        },
    components: { Pagination, HeaderDashboard, TablerevendeurItems, FormrevendeurCreate },
    methods: {
        addrevendeur() {
        this.alert.success = false;
        this.alert.error = false;
        this.loading = true
        this.$store.dispatch('user/create', {
            user:this.revendeur
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.user = {}
                    this.loading = false
                    this.$store.dispatch('user/revendeurs');
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    console.log(result.data)
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
      },
    },
    computed:{
        revendeursFilter() {
                let temprevendeurs = this.$store.getters['user/revendeurs'];
                console.log(temprevendeurs)
                // Process search input
                if (this.searchValue != '' && this.searchValue) {
                    temprevendeurs = temprevendeurs.filter((item) => {
                        return item.codemarchant.includes(this.searchValue)
                    })
                }

                return temprevendeurs
            }
        },
        beforeMount(){
            this.$store.dispatch('user/revendeurs')
        }
};
</script>

<style lang="scss" scoped>
    .ps-items-listing .ps-section__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 0px !important;
    }
</style>

