<template lang="html">
    <ul class="menu">
        <li v-for="item in menus" :key="item.text" v-if="item.isHidden">
            <nuxt-link :to="item.url" class="menu__text">
                <i :class="item.icon"> </i>
                <span>{{ item.text }}</span>
            </nuxt-link>
        </li>
    </ul>
</template>

<script>
export default {
    name: 'MenuSidebar',
    data() {
        return {
            menuItems: [
                /*{
                    text: 'Dashboard',
                    url: '/',
                    icon: 'icon-home'
                },*/
                {
                    text: 'Bons d\'achats',
                    url: '/voucher',
                    icon: 'icon-tags',
                    isHidden: false
                },
               /* {
                    text: 'Products',
                    url: '/products',
                    icon: 'icon-database'
                },
               {
                    text: 'Transactions',
                    url: '/orders',
                    icon: 'icon-bag2'
                },*/
                {
                    text: 'Caisses',
                    url: '/caissieres',
                    icon: 'icon-box',
                    isHidden: false
                },
                {
                    text: 'Cartes',
                    url: '/cards',
                    icon: 'icon-ticket',
                    isHidden: false
                },
                {
                    text: 'Consommations',
                    url: '/consumptions',
                    icon: 'icon-fire',
                    isHidden: false
                },
                {
                    text: 'Demande de services',
                    url: '/demandeservice',
                    icon: 'icon-list',
                    isHidden: false
                },
                {
                    text: 'Revendeurs',
                    url: '/revendeurs',
                    icon: 'icon-users2',
                    isHidden: false
                },{
                    text: 'Users',
                    url: '/users',
                    icon: 'icon-users2',
                    isHidden: false
                },
                /*{
                    text: 'Customers',
                    url: '/customers',
                    icon: 'icon-users2'
                },
                {
                    text: 'Categories',
                    url: '/categories',
                    icon: 'icon-users2'
                },
                {
                    text: 'Settings',
                    url: '/settings',
                    icon: 'icon-cog'
                }*/
            ]
        };
    },
    computed: {
            menus(){
                let menuTable = [];
                this.menuItems.forEach(menu => {
                    console.log(menu.text == 'Users' && this.$store.getters['user/role'] == "Revendeur");
                    if(menu.text == 'Users' && this.$store.getters['user/role'] == "Revendeur"){
                        menu.isHidden = true;
                    }else if(this.$store.getters['user/role'] != "Revendeur"){
                        menu.isHidden = true;
                    }
                    menuTable.push(menu);
                });
                console.log(menuTable)
                return menuTable;
            },
        },
};
</script>

<style lang="scss" scoped></style>
