<template>
    <div>
        <button class="ps-btn success" id="show-btn" data-toggle="modal" data-target="#exampleModalLong"><i class="icon icon-plus mr-2" />Service</button>
        
            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un service</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <div class="d-block text-start">
                                    <section class="ps-items-listing">
                                        <v-form @submit.prevent="submit" class="ps-form ps-form--new">
                                                <div class="ps-form__content">
                                                    <div class="form-group">
                                                        <label> Nom<sup>*</sup> </label>
                                                        <input class="form-control" type="text" v-model="service.name" placeholder="Entrer le noms" />
                                                    </div>
                                                </div>
                                                
                                                <div class="ps-form__content">
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <textarea
                                                            v-model="service.description"
                                                            class="form-control"
                                                            rows="6"
                                                            placeholder="Entrer description"
                                                        ></textarea>
                                                    </div>
                                                </div>
                                                <div class="ps-form__bottom p-0">
                                                    <button class="ps-btn ps-btn--gray">Renitialiser</button>
                                                    <button type="submit" class="ps-btn">
                                                        <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div> 
                                                        <span v-else> Ajouter</span>
                                                    </button>
                                                </div>
                                            </v-form>
                                        <div class="ps-section__content">
                                            <table-service-items />
                                        </div>
                                    </section>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
  </div>
  </template>
  <script>
    import TableServiceItems from "~/components/shared/tables/TableServiceItems";
    export default {
        name: "FormCreateService",
        components: {
            TableServiceItems
        },
        data () {
          return {
            service: {},
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
            loading: false,
            errors: []
          }
        },
        methods: {
          submit() {
            this.alert.success = false;
            this.alert.error = false;
            this.loading = true
            this.$store.dispatch('service/create', {
                service:this.service
            }).then(result => {
                switch (result.data.success) {
                    case true:
                        this.service = {}
                        this.loading = false
                        this.$store.dispatch('service/list');
                        this.alert.success = false;
                        this.alert.success = true;
                        this.alert.message = result.data.detail || "Succés de l'opération";
                        break;
                    
                    case false:
                        console.log(result.data)
                        this.loading = false    
                        this.alert.error = true;
                        this.errors = result.data.error;
                        this.alert.message = result.data.message;
                        break;
                }
                //this.$router.push('/admin')
                }).catch(error => {
                this.loading = false
                this.alert.error = true;
                this.alert.message = "Echec de l'opération";
                console.log(error)
            })
          },
          /*updateBon() {
            this.alert = null
            this.loading = true
            this.$toast.show('Logging in...')
            this.$store.dispatch('service/update', {
                service:this.service
            }).then(result => {
                switch (result.data.success) {
                    case true:
                        this.user = {}
                        this.alert = {type: 'success', message: result.data.message}
                        this.loading = false
                        this.$toast.success('Successfully')
                        break;
                    
                    case false:
                        this.loading = false
                        this.$toast.global.my_error() //Using custom toast
                        this.$toast.error('Error')
                        if (result.data.message) {
                          this.alert = {type: 'error', message: result.data.message}
                        }
                        break;
                }
                //this.$router.push('/admin')
            }).catch(error => {
                this.loading = false
                if (error.response && error.response.data) {
                this.alert = {type: 'error', message: error.response.data.message || error.reponse.status}
                }
            })
          }*/
        },
        computed: {
            edit(){
                return this.$store.getters['service/edit']
            }
        },
    };
    </script>
    
    <style lang="scss" scoped></style>