<template lang="html">
    <div class="form-group">
                                            <label>Filter par rôle : </label>
                                            <div>
                                                <select
                                                v-model="searchValue"
                                                class="form-control"
                                                    title="Role">
                                                    <option v-for="role in roles" :key="role.id" :value="role.id">
                                                        {{role.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
</template>

<script>
export default {
    name: 'FormFilterRole',
    props: ['roles']
};
</script>
