<template lang='html'>
    <div>
        <button class="ps-btn success" data-toggle="modal" data-target="#addModal">
                    <i class="icon icon-plus mr-2" />
                    Nouvelle Caisse
                </button>
                <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addModalTitle">Ajouter une caisse </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <figure class="ps-block--form-box">
                                    <div class="ps-block__content">
                                        <div class="form-group">
                                            <label>
                                                Email<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="email"
                                                v-model="caisse.email"
                                                placeholder="Entrer email ..."
                                            />
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>
                                                Code Marchand<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                v-model="caisse.codemarchant"
                                                placeholder="Entrer code ..."
                                            />
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                Mot de passe<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                v-model="caisse.password"
                                                placeholder="Entrer mot de passe ..."
                                            />
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                Localisation<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                placeholder="Entrer la zone ..."
                                            />
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="modal-footer">
                                <button class="ps-btn ps-btn--gray" data-dismiss="modal">Fermer</button>
                                <button @click="addcaisse" class="ps-btn" type="button">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Ajouter</span>
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
    </div>
</template>
<script>
export default {
    auth: false,
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                loading: false,
                caisses: [],
                caisse: {
                    role:2,
                    adminid: this.$store.state.user.id
                },
                errors:[],
            }
        },
    methods: {
        addcaisse() {
        this.alert.success = false;
        this.alert.error = false;
        this.loading = true
        this.$store.dispatch('user/create', {
            user:this.caisse
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.user = {}
                    this.loading = false
                    this.$store.dispatch('user/caisses');
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    console.log(result.data)
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
      },
    }
};
</script>