<template>
    <div>
        <button class="ps-btn success" id="show-btn" data-toggle="modal" data-target="#ModalConsumption"><i class="icon icon-plus mr-2" />Demande</button>
        
            <!-- Modal -->
            <div class="modal fade" id="ModalConsumption" tabindex="-1" role="dialog" aria-labelledby="ModalConsumptionTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalConsumptionTitle">Ajouter une Demande</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <div class="d-block text-start">
                                    <section class="ps-items-listing">
                                        <v-form @submit.prevent="submit" class="ps-form ps-form--new">
                                        <div class="ps-form__content">

                                            <div class="form-group">
                                                <label> Objet <sup>*</sup> </label>
                                                <input class="form-control" type="text" v-model="userrequest.objet" placeholder="Entrer code de la carte" />
                                            </div>
                                            <div class="form-group">
                                                <label> Montant Estimatif<sup>*</sup> </label>
                                                <input class="form-control" type="number" v-model="userrequest.montantestimatif" placeholder="Entrer montant" />
                                            </div>
                                            <div class="ps-form__content">
                                                                                    <div class="form-group">
                                                                                        <label>Description</label>
                                                                                        <textarea
                                                                                            v-model="userrequest.description"
                                                                                            class="form-control"
                                                                                            rows="6"
                                                                                            placeholder="Entrer description"
                                                                                        ></textarea>
                                                                                    </div>
                                                                                </div>
                                            <div class="form-group">
                                                                <label>Service</label>
                                                                <div>
                                                                    <select
                                                                    v-model="userrequest.typecarte"
                                                                    class="form-control"
                                                                        title="Type de Carte">
                                                                        <option v-for="service in services" :key="service.id" :value="service.id">
                                                                            {{service.name}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Utilisateur</label>
                                                                <div>
                                                                    <select
                                                                    v-model="userrequest.user"
                                                                    class="form-control"
                                                                        title="Utilisateur">
                                                                        <option v-for="user in users" :key="user.id" :value="user.id">
                                                                            {{user.firstname}} {{user.lastname}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                        </div>
                                        <div class="ps-form__bottom">
                                            <button class="ps-btn ps-btn--gray">Renitialiser</button>

                                            <button type="submit" class="ps-btn">
                                                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                                                        <span class="visually-hidden">Loading...</span>
                                                                    </div> 
                                                                    <span v-else> Ajouter</span>
                                                                </button>
                                        </div>
                                    </v-form>
                                    </section>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
  </div>
  </template>

<script>
export default {
    name: "FormCreateUserrequest",
    data () {
      return {
        userrequest: {},
        
        alert: {
                    error:false,
                    success:false,
                    message:''
                },
        loading: false
      }
    },
    methods: {
      submit() {
        this.alert = null
        this.loading = true
        this.$store.dispatch('userrequest/create', {
            userrequest:this.userrequest
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.userrequest = {}
                    this.$store.dispatch('userrequest/list');
                    this.loading = false
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            console.log(error)
        })
      }
    },
    computed: {
        services() {
            return this.$store.getters['service/table'];
        },
        users() {
            return this.$store.getters['user/table'];
        }
    },
};
</script>

<style lang="scss" scoped></style>
