<template lang='html'>
    <div>
        <button class="ps-btn success" data-toggle="modal" data-target="#addModal">
                    <i class="icon icon-plus mr-2" />
                    Nouveau Revendeur
                </button>
                <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addModalTitle">Ajouter un Revendeur </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <figure class="ps-block--form-box">
                                    <div class="ps-block__content">
                                        
                                        <div class="form-group">
                                            <label>
                                                Code Marchand<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                v-model="revendeur.codemarchant"
                                                placeholder="Entrer code ..."
                                            />
                                        </div>

                                        <div class="form-group">
                                <label>
                                    Nom<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="revendeur.firstname"
                                    placeholder="Entrer nom ..."
                                />
                            </div>
                            
                            <div class="form-group">
                                <label>
                                    Prénom<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="revendeur.lastname"
                                    placeholder="Entrer prénom..."
                                />
                            </div>
                            <div class="form-group">
                                <label>
                                    Numéro Téléphone<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="number"
                                    v-model="revendeur.phonenumber"
                                    placeholder="Entrer Numéro Téléphone..."
                                />
                            </div>

                            <div class="form-group">
                                <label>
                                    Numéro CNI<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="number"
                                    v-model="revendeur.numerocni"
                                    placeholder="Entrer Numéro CNI ..."
                                />
                            </div>

                                        <div class="form-group">
                                            <label>
                                                Mot de passe<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                v-model="revendeur.password"
                                                placeholder="Entrer mot de passe ..."
                                            />
                                        </div>

                                        <div class="form-group">
                                <label>
                                    Pays<sup>*</sup>
                                </label>
                                <select
                                                class="form-control"
                                                v-model="revendeur.country"
                                                    title="Pays">
                                                    <option v-for="country in countries" :key="country.id" :value="country.id">
                                                        {{country.name}}
                                                    </option>
                                                </select>
                            </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="modal-footer">
                                <button class="ps-btn ps-btn--gray" data-dismiss="modal">Fermer</button>
                                <button @click="addrevendeur" class="ps-btn" type="button">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Ajouter</span>
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
    </div>
</template>
<script>
export default {
    auth: false,
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                loading: false,
                revendeurs: [],
                countries: [],
                revendeur: {
                    role:3
                },
                errors:[],
            }
        },
    methods: {
        addrevendeur() {
        this.alert.success = false;
        this.alert.error = false;
        this.loading = true
        this.$store.dispatch('user/create', {
            user:this.revendeur
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.user = {}
                    this.loading = false
                    this.$store.dispatch('user/revendeurs');
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    console.log(result.data)
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
      },
            loadcountry(){
                this.$store.dispatch('app/countries').then(result => {
                    switch (result.data.success) {
                        case true:
                            //console.log(result.data)
                            this.countries = result.data.listEntity

                            break;
                        
                        case false:
                            this.loading = false
                            break;
                    }
                    //this.$router.push('/admin')
                }).catch(error => {
                    this.loading = false
                })
            },
    },
        beforeMount(){
            this.loadcountry();
        }
};
</script>