<template lang="html">
    <v-form @submit.prevent="submit" class="ps-form ps-form--new">
        <div class="ps-form__content">
            <div class="form-group">
                <label> Couleur<sup>*</sup> </label>
                <input v-model="bonachat.color" type="color" id="color"/>
            </div>

            <div class="form-group">
                <label>Image<sup>*</sup> </label>
                <input
                type="file"
                class="form-control"
                accept=".jpeg,.jpg,.png,image/jpeg,image/png"
                aria-label="upload image button"
                @change="selectFile"
                />
            </div>

            <div class="form-group">
                <label> Libelle<sup>*</sup> </label>
                <input class="form-control" type="text" v-model="bonachat.libelle" placeholder="Entrer bon d'achat name" />
            </div>
            <div class="form-group">
                <label> PV<sup>*</sup> </label>
                <input class="form-control" type="number" v-model="bonachat.pv" placeholder="Entrer point valeur" />
            </div>
            <div class="form-group">
                <label> Montant<sup>*</sup> </label>
                <input class="form-control" type="number" v-model="bonachat.montant" placeholder="Entrer montant" />
            </div>
            <div class="form-group">
                <label> Prix<sup>*</sup> </label>
                <input class="form-control" type="number" v-model="bonachat.prix" placeholder="Entrer prix" />
            </div>
            <div class="form-group">
                                <label>Type de Bon Achat</label>
                                <div>
                                    <select
                                    v-model="bonachat.typebonachat"
                                    class="form-control"
                                        title="Type de Bon">
                                        <option v-for="type_bon in typebonachats" :key="type_bon.id" :value="type_bon.id">
                                            {{type_bon.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
        </div>
        <div class="ps-form__bottom">
            <button class="ps-btn ps-btn--gray">Renitialiser</button>

            <button type="submit" class="ps-btn">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Ajouter</span>
                                </button>
        </div>
    </v-form>
</template>

<script>
export default {
    name: "FormCreateVoucher",
    data () {
      return {
        bonachat: {
            image:'',
            color:''
        },
        alert: null,
        loading: false
      }
    },
    methods: {
      submit() {
        this.alert = null
        this.loading = true
        this.$store.dispatch('bonachat/create', {
            bonachat:this.bonachat
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.bonachat = {}
                    this.$store.dispatch('bonachat/list');
                    this.loading = false
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            console.log(error)
        })
      },
      async selectFile(e) {
        const file = e.target.files[0];
        if (!file) return;
        let formData = new FormData();
        formData.append("fileToUpload", file);
        /* Make sure file exists */
        this.$store.dispatch('bonachat/uploadimage', formData).then(result => {
            switch (result.data.success) {
                case true:
                    this.bonachat.image = result.data.src
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
        }).catch(error => {
            this.loading = false
        })
        }
    },
    computed: {
        edit(){
            return this.$store.getters['bonachat/edit']
        },
        typebonachats() {
            return this.$store.getters['typebon/table'];
        }
    },
};
</script>

<style lang="scss" scoped></style>
