<template lang="html">
    <v-form @submit.prevent="submit" class="ps-form ps-form--new">
        <div class="ps-form__content">

            <div class="form-group">
                <label> Code <sup>*</sup> </label>
                <input class="form-control" type="text" v-model="card.libelle" placeholder="Entrer code de la carte" />
            </div>
            <div class="form-group">
                <label> Montant<sup>*</sup> </label>
                <input class="form-control" type="number" v-model="card.montant" placeholder="Entrer montant" />
            </div>
            <div class="form-group">
                                <label>Type de Carte</label>
                                <div>
                                    <select
                                    v-model="card.typecarte"
                                    class="form-control"
                                        title="Type de Carte">
                                        <option v-for="typecard in typecards" :key="typecard.id">
                                            {{typecard.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Utilisateur</label>
                                <div>
                                    <select
                                    v-model="card.user"
                                    class="form-control"
                                        title="Utilisateur">
                                        <option v-for="user in users" :key="user.id" :value="user.id">
                                            {{user.firstname}} {{user.lastname}}
                                        </option>
                                    </select>
                                </div>
                            </div>
        </div>
        <div class="ps-form__bottom">
            <button class="ps-btn ps-btn--gray">Renitialiser</button>

            <button type="submit" class="ps-btn">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Ajouter</span>
                                </button>
        </div>
    </v-form>
</template>

<script>
export default {
    name: "FormCreateCard",
    data () {
      return {
        card: {},
        alert: null,
        loading: false
      }
    },
    methods: {
      submit() {
        this.alert = null
        this.loading = true
        this.$store.dispatch('card/create', {
            carte:this.card
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.card = {}
                    this.$store.dispatch('card/list');
                    this.loading = false
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            console.log(error)
        })
      }
    },
    computed: {
        typecards() {
            return this.$store.getters['typecard/table'];
        },
        users() {
            return this.$store.getters['user/table'];
        }
    },
};
</script>

<style lang="scss" scoped></style>
