<template>
    <div>
        <button class="ps-btn success" id="show-btn" data-toggle="modal" data-target="#exampleModalLongDemand"><i class="icon icon-plus mr-2" />Demande de service</button>
        
            <!-- Modal -->
            <div class="modal fade" id="exampleModalLongDemand" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongDemandTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongDemandTitle">Faire une demande</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <div class="d-block text-start">
                                    <section class="ps-items-listing">
                                        <v-form @submit.prevent="submit" class="ps-form ps-form--new">
                                                <div class="ps-form__content">
                                                    <div class="form-group">
                                                        <label> Nom<sup>*</sup> </label>
                                                        <input class="form-control" type="text" v-model="demandeservice.title" placeholder="Entrer le nom" />
                                                    </div>
                                                </div>

                                                <div class="ps-form__content">
                                                    <div class="form-group">
                                                        <label> Localisation<sup>*</sup> </label>
                                                        <input class="form-control" type="text" v-model="demandeservice.localisation" placeholder="Entrer la localisation" />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                <label>Categorie du service</label>
                                                <div>
                                                    <select
                                                    v-model="demandeservice.categoryservice"
                                                    class="form-control"
                                                        title="catégorie">
                                                        <option v-for="categoryservice in categoryservices" :key="categoryservice.value">
                                                            {{categoryservice.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                            <label>Utilisateur</label>
                                            <div>
                                                <select
                                                v-model="demandeservice.user"
                                                class="form-control"
                                                    title="Utilisateur">
                                                    <option v-for="user in users" :key="user.id" :value="user.id">
                                                        {{user.firstname}} {{user.lastname}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                                
                                                <div class="ps-form__content">
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <textarea
                                                            v-model="demandeservice.description"
                                                            class="form-control"
                                                            rows="6"
                                                            placeholder="Entrer description"
                                                        ></textarea>
                                                    </div>
                                                </div>
                                                <div class="ps-form__bottom p-0">
                                                    <button class="ps-btn ps-btn--gray">Renitialiser</button>
                                                    <button type="submit" class="ps-btn">
                                                        <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div> 
                                                        <span v-else> Ajouter</span>
                                                    </button>
                                                </div>
                                            </v-form>
                                    </section>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
  </div>
  </template>
  <script>
    export default {
        name: "FormCreateDemandeService",
        data () {
          return {
            //demandeservice: {},
            demandeservice: {},
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
            loading: false,
            errors: []
          }
        },
        methods: {
          submit() {
            this.alert.success = false;
            this.alert.error = false;
            this.loading = true
            this.$store.dispatch('demandeservice/create', {
                demandeservice:this.demandeservice
            }).then(result => {
                switch (result.data.success) {
                    case true:
                        this.demandeservice = {}
                        this.loading = false
                        this.$store.dispatch('demandeservice/list');
                        this.alert.success = false;
                        this.alert.success = true;
                        this.alert.message = result.data.detail || "Succés de l'opération";
                        break;
                    
                    case false:
                        console.log(result.data)
                        this.loading = false    
                        this.alert.error = true;
                        this.errors = result.data.error;
                        this.alert.message = result.data.message;
                        break;
                }
                //this.$router.push('/admin')
                }).catch(error => {
                this.loading = false
                this.alert.error = true;
                this.alert.message = "Echec de l'opération";
                console.log(error)
            })
          },
          /*updateBon() {
            this.alert = null
            this.loading = true
            this.$toast.show('Logging in...')
            this.$store.dispatch('service/update', {
                service:this.service
            }).then(result => {
                switch (result.data.success) {
                    case true:
                        this.user = {}
                        this.alert = {type: 'success', message: result.data.message}
                        this.loading = false
                        this.$toast.success('Successfully')
                        break;
                    
                    case false:
                        this.loading = false
                        this.$toast.global.my_error() //Using custom toast
                        this.$toast.error('Error')
                        if (result.data.message) {
                          this.alert = {type: 'error', message: result.data.message}
                        }
                        break;
                }
                //this.$router.push('/admin')
            }).catch(error => {
                this.loading = false
                if (error.response && error.response.data) {
                this.alert = {type: 'error', message: error.response.data.message || error.reponse.status}
                }
            })
          }*/
        },
        computed: {
            categoryservices() {
                return this.$store.getters['categoryservice/table'];
            },
            users() {
                return this.$store.getters['user/table'];
            }
        },
    };
    </script>
    
    <style lang="scss" scoped></style>