<template lang='html'>
    <form class="ps-form ps-form--new-product">
        <div class="ps-form__content">
            <div class="row">
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <figure class="ps-block--form-box">
                        <figcaption>Information Générale (1)</figcaption>
                        <div class="ps-block__content">
                            <div class="form-group">
                                <label>
                                    Nom<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="user.firstname"
                                    placeholder="Entrer nom ..."
                                />
                            </div>
                            <div class="form-group">
                                <label>
                                    Prénom<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="user.lastname"
                                    placeholder="Entrer prénom..."
                                />
                            </div>
                            <div class="form-group">
                                <label>
                                    Numéro Téléphone<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="number"
                                    v-model="user.phonenumber"
                                    placeholder="Entrer Numéro Téléphone..."
                                />
                            </div>

                            <div v-if="user.role == 2 || user.role == 3" class="form-group">
                                <label>
                                    Code Marchand<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="user.codemarchant"
                                    placeholder="Entrer Code Marchand ..."
                                />
                            </div>

                            <div v-if="user.role == 2 || user.role == 3" class="form-group">
                                <label>
                                    Numéro CNI<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="number"
                                    v-model="user.numerocni"
                                    placeholder="Entrer Numéro CNI ..."
                                />
                            </div>
                            <div v-if="user.role == 0" class="form-group">
                                <label>
                                    Numéro du Parrain<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="number"
                                    v-model="user.numeroparrain"
                                    placeholder="Entrer Numéro Parrain ..."
                                />
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <figure class="ps-block--form-box">
                        <figcaption>Information Générale (2)</figcaption>
                        <div class="ps-block__content">
                            <div class="form-group">
                                <label>
                                    Email<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="email"
                                    v-model="user.email"
                                    placeholder="Entrer Email..."
                                />
                            </div>
                            <div class="form-group">
                                <label>
                                    Mot de passe<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="password"
                                    v-model="user.password"
                                    placeholder="Entrer Mot de Passe..."
                                />
                            </div>
                            <div class="form-group">
                                <label>
                                    Comfirmer Mot de passe<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="password"
                                    v-model="user.confirm"
                                    placeholder="Entrer la comfirmation..."
                                />
                            </div>
                            <div class="form-group">
                                <label>
                                    Pays<sup>*</sup>
                                </label>
                                <select
                                                class="form-control"
                                                v-model="user.country"
                                                    title="Pays">
                                                    <option v-for="country in countries" :key="country.id" :value="country.id">
                                                        {{country.name}}
                                                    </option>
                                                </select>
                            </div>
                            <div class="form-group">
                                <label>
                                    Role<sup>*</sup>
                                </label>
                                <select
                                                class="form-control"
                                                v-model="user.role"
                                                    title="Role">
                                                    <option v-for="role in roles" :key="role.id" :value="role.id">
                                                        {{role.name}}
                                                    </option>
                                                </select>
                            </div>
                        </div>
                    </figure>
                </div>
                <div v-if="alert.success" class="alert alert-success" role="alert">
                    {{alert.message}}
                </div>
                <div v-if="alert.error" class="alert alert-danger" role="alert">
                    
                    <span> - {{alert.message}}</span> <br>
                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                </div>
            </div>
        </div>
        <div class="ps-form__bottom">
            <NuxtLink class="ps-btn ps-btn--black" to="/users">
                Retourner
            </NuxtLink>
            <button class="ps-btn ps-btn--gray">Annuler</button>
            <button @click="submit" class="ps-btn" type="button">
                <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div> 
                <span v-else> Sauvegarder</span>
            </button>
        </div>
    </form>
</template>

<script>
export default {
    name: 'FormUserCreateNew',
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                loading: false,
                user:{},
                errors:[],
                countries: [],
                roles: [{id:0,name:'Client'},{id:1,name:'Admin'},{id:2,name:'Caissiere'},{id:3,name:'Revendeur'}],
            }
        },
        methods: {
            
      submit() {
        this.alert.success = false;
        this.alert.error = false;
        this.loading = true
        this.$store.dispatch('user/create', {
            user:this.user
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.user = {}
                    this.loading = false
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    console.log(result.data)
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
      },
            loadcountry(){
                this.$store.dispatch('app/countries').then(result => {
                    switch (result.data.success) {
                        case true:
                            //console.log(result.data)
                            this.countries = result.data.listEntity

                            break;
                        
                        case false:
                            this.loading = false
                            break;
                    }
                    //this.$router.push('/admin')
                }).catch(error => {
                    this.loading = false
                })
            }
        },
        beforeMount(){
            this.loadcountry();
        }
};
</script>

<style lang="scss" scoped>

</style>
