<template lang="html">
    <div>
        <div class="table-responsive">
            <table class="table ps-table">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Type de Carte</th>
                        <th>Nom du Porteur de Carte</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="card in cards"
                    :key="card.id"
                    :id="card.id" >
                        <td>
                            <strong>{{card.numero}}</strong>
                        </td>
                        <td>{{card.typecarte.name}}</td>
                        <td>{{card.user.firstname}}</td>                        
                        <td>
                            <button class="btn" data-toggle="modal" data-target="#updateModal" @click="getupdateCard(card)">
                                <i class="icon-pencil mr-2"></i>
                            </button>
                            
                        <span class="btn" @click="deleteCard(card)">
                            <div v-if="loadingdelete" class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div> 
                            <i v-else class="icon-trash2 mr-2"></i>
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalTitle">Modifier un type de bon </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <figure class="ps-block--form-box">
                                    <div class="ps-block__content">
                                        <v-form @submit.prevent="submit" class="ps-form ps-form--new">
                                            <div class="ps-form__content">

                                                <div class="form-group">
                                                    <label> Code <sup>*</sup> </label>
                                                    <input class="form-control" type="text" v-model="card.libelle" placeholder="Entrer code de la carte" />
                                                </div>
                                                <div class="form-group">
                                                    <label> Montant<sup>*</sup> </label>
                                                    <input class="form-control" type="number" v-model="card.montant" placeholder="Entrer montant" />
                                                </div>
                                                <div class="form-group">
                                                                    <label>Type de Carte</label>
                                                                    <div>
                                                                        <select
                                                                        v-model="card.typecard"
                                                                        class="form-control"
                                                                            title="Type de Carte">
                                                                            <option v-for="typecard in typecards" :key="typecard.id">
                                                                                {{typecard.name}}
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                            </div>
                                            <div class="ps-form__bottom">
                                                <button class="ps-btn ps-btn--gray">Renitialiser</button>

                                                <button type="submit" class="ps-btn">
                                                                        <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                                                            <span class="visually-hidden">Loading...</span>
                                                                        </div> 
                                                                        <span v-else> Ajouter</span>
                                                                    </button>
                                            </div>
                                        </v-form>
                                    </div>
                                </figure>
                            </div>
                            <div class="modal-footer">
                                <button class="ps-btn ps-btn--gray" data-dismiss="modal">Fermer</button>
                                <button @click="updateCard" class="ps-btn" type="button">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Modifier</span>
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
    </div>
</template>

<script>
export default {
    name: "TableCardItems",
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                card: {},
                loading: false,
                loadingdelete: false
            }
        },
    computed:{
        cards () {
            return this.$store.getters['card/table']
        },
        typecards() {
            return this.$store.getters['typecard/table'];
        }
    },
    methods: {

        deleteCard (id) {
        this.loadingdelete = true
        this.$store.dispatch('card/delete', {
            id:id
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('card/list');
                    this.loadingdelete = false
                    break;
                
                case false:
                    this.loadingdelete = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loadingdelete = false
            console.log(error)
        })
      },
      updateCard() {
        this.alert.success = false;
            this.alert.error = false;
            this.loading = true
            this.$store.dispatch('card/update', {
            card:this.card
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('card/list');
                    this.loading = false
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            if (error.response && error.response.data) {
            this.alert = {type: 'error', message: error.response.data.message || error.reponse.status}
            }
        })
      },
      generateCard(data){
        $bvModal.show('bv-modal-generate-card');
        console.log(data);
      },
      getupdateCard(data){
        this.card.id = data.id
        this.card.color = data.color
        this.card.image = data.image
        this.card.libelle = data.libelle
        this.card.montant = data.montant
        this.card.pv = data.pv
        this.card.prix = data.prix
        this.card.typecard = data.typecarte.id
      }
    }
};
</script>

<style lang="scss" scoped></style>
