<template lang="html">
    <div class="table-responsive">
        <table class="table ps-table">
            <thead>
                <tr>
                    
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Solde</th>
                    <th>Téléphone</th>
                    <th>Numero CNI</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="revendeur in revendeursFilter"
                :key="revendeur.id"
                :id="revendeur.id">
                    <td>{{revendeur.codemarchant}}</td>
                    <td>
                        <strong>{{revendeur.firstname}} {{revendeur.lastname}}</strong>
                    </td>
                    <td>
                        <strong>{{revendeur.solde}}</strong>
                    </td>
                    <td>{{revendeur.phonenumber}}</td>
                    <td>{{revendeur.numerocni}}</td>
                    <td>
                        <NuxtLink class="btn" :to="`/revendeurs/${revendeur.id}`">
                            <i class="icon-list mr-2"></i>
                        </NuxtLink>
                        <button class="btn" data-toggle="modal" data-target="#updateModal" @click="getupdaterevendeur(revendeur)">
                            <i class="icon-pencil mr-2"></i>
                        </button>
                        <span class="btn" @click="deleterevendeur(revendeur)">
                            <div v-if="loadingdelete" class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div> 
                            <i v-else class="icon-trash2 mr-2"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addModalTitle">Ajouter un Revendeur </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <figure class="ps-block--form-box">
                                    <div class="ps-block__content">
                                        
                                        <div class="form-group">
                                            <label>
                                                Code Marchand<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                v-model="revendeur.codemarchant"
                                                placeholder="Entrer code ..."
                                            />
                                        </div>

                                        <div class="form-group">
                                <label>
                                    Nom<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="revendeur.firstname"
                                    placeholder="Entrer nom ..."
                                />
                            </div>
                            
                            <div class="form-group">
                                <label>
                                    Prénom<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="text"
                                    v-model="revendeur.lastname"
                                    placeholder="Entrer prénom..."
                                />
                            </div>
                            <div class="form-group">
                                <label>
                                    Numéro Téléphone<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="number"
                                    v-model="revendeur.phonenumber"
                                    placeholder="Entrer Numéro Téléphone..."
                                />
                            </div>

                            <div class="form-group">
                                <label>
                                    Numéro CNI<sup>*</sup>
                                </label>
                                <input
                                    class="form-control"
                                    type="number"
                                    v-model="revendeur.numerocni"
                                    placeholder="Entrer Numéro CNI ..."
                                />
                            </div>

                                        <div class="form-group">
                                            <label>
                                                Mot de passe<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                v-model="revendeur.password"
                                                placeholder="Entrer mot de passe ..."
                                            />
                                        </div>

                                        <div class="form-group">
                                <label>
                                    Pays<sup>*</sup>
                                </label>
                                <select
                                                class="form-control"
                                                v-model="revendeur.country"
                                                    title="Pays">
                                                    <option v-for="country in countries" :key="country.id" :value="country.id">
                                                        {{country.name}}
                                                    </option>
                                                </select>
                            </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="modal-footer">
                                <button class="ps-btn ps-btn--gray" data-dismiss="modal">Fermer</button>
                                <button @click="updaterevendeur" class="ps-btn" type="button">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Modifier</span>
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
    </div>
</template>

<script>
export default {
    name: 'TablerevendeurItems',
    props:['revendeursFilter'],
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                revendeur: {
                    codemarchant: '',
                    id:''
                },
                errors: [],
                countries: [],
                loading: false,
                loadingdelete: false
            }
        },
    methods: {
        deleterevendeur (id) {
        this.loadingdelete = true
        this.$store.dispatch('user/delete', {
            id:id
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.loadingdelete = false
                    this.$store.dispatch('user/revendeurs');
                    break;
                
                case false:
                    this.loadingdelete = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loadingdelete = false
            console.log(error)
        })
      },
            loadcountry(){
                this.$store.dispatch('app/countries').then(result => {
                    switch (result.data.success) {
                        case true:
                            //console.log(result.data)
                            this.countries = result.data.listEntity

                            break;
                        
                        case false:
                            this.loading = false
                            break;
                    }
                    //this.$router.push('/admin')
                }).catch(error => {
                    this.loading = false
                })
            },
      getupdaterevendeur(data) {
        this.revendeur.codemarchant = data.codemarchant
        this.revendeur.phonenumber = data.phonenumber
        this.revendeur.lastname = data.lastname
        this.revendeur.firstname = data.firstname
        this.revendeur.numerocni = data.numerocni
        this.revendeur.id = data.id
      },
     updaterevendeur(){
            this.alert.success = false;
            this.alert.error = false;
            this.loading = true
            this.$store.dispatch('user/update', {user:this.revendeur}).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('user/revendeurs');
                    this.loading = false
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
        },
    },
        beforeMount(){
            this.loadcountry();
        }
};
</script>

<style lang="scss" scoped></style>
