<template lang="html">
    <div class="table-responsive">
        <table class="table ps-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="service in services"
                :key="service.id"
                :id="service.id" >
                    <td>{{service.id}}</td>
                    <td>
                        <strong>{{service.name}}</strong>
                    </td>
                    <td>
                        <strong>{{service.description}}</strong>
                    </td>
                    <td>
                        <span @click="deleteService(service)">
                            <i class="icon-trash2 mr-2"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "TableserviceItems",
    computed:{
        services () {
            return this.$store.getters['service/table']
        }
    },
    methods: {
        deleteService (id) {
        this.alert = null
        this.loading = true
        this.$store.dispatch('service/delete', {
            id:id
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('service/list')
                    this.loading = false
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            console.log(error)
        })
      },
    }
};
</script>

<style lang="scss" scoped></style>
