<template lang="html">
    <div class="table-responsive">
        <table class="table ps-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Utilisateur</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Localisation</th>
                    <th>catégorie</th>
                    <th>status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="service in services"
                :key="service.id"
                :id="service.id" >
                    <td>{{service.id}}</td>
                    <td>
                        <strong>{{service.user.firstname}} ({{service.user.email}})</strong>
                    </td>
                    <td>
                        <strong>{{service.title}}</strong>
                    </td>
                    <td>
                        <strong>{{service.description}}</strong>
                    </td>
                    <td>
                        <strong>{{service.localisation}}</strong>
                    </td>
                    <td>
                        <strong>{{service.categoryservice.name}}</strong>
                    </td>
                    
                    <td>
                        <span
                            v-if="service.statut == 0"
                            class="ps-fullfillment warning"
                        >
                        Envoyer
                        </span>
                        <span
                            v-else-if="service.statut == -1"
                            class="ps-fullfillment danger"
                        >
                        Rejecté
                        </span>
                        <span v-else-if="service.statut == 1" class="ps-fullfillment success">Accepté</span>
                    </td>
                    <td>
                        <span @click="deleteService(service)">
                            <i class="icon-trash2 mr-2"></i>
                        </span>

                        <span data-toggle="modal" data-target="#exampleModalLongStatus" @click="changeStatus(service)">
                            <i class="icon-bookmark mr-2"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLongStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongStatusTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongStatusTitle">Status de la Demande </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <div class="d-block text-start">
                                    <section class="ps-items-listing">
                                        <v-form @submit.prevent="updatedemandeservice" class="ps-form ps-form--new">
                                                <div class="ps-form__content">
                                                    <div class="form-group">
                                                        <label> Status<sup>*</sup> </label>
                                                        <select
                                                            v-model="statut"
                                                            class="form-control"
                                                                title="catégorie">
                                                                <option v-for="statusservice in statusservices" :value="statusservice.id" :key="statusservice.id" :selected="statusservice.id === showservice.statut">
                                                                    {{statusservice.name}}
                                                                </option>
                                                            </select>
                                                    </div>
                                                </div>
                                                <div class="ps-form__bottom p-0">
                                                    <button type="submit" class="ps-btn">
                                                        <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                                            <span class="visually-hidden">Loading...</span>
                                                        </div> 
                                                        <span v-else> Changer</span>
                                                    </button>
                                                </div>
                                            </v-form>
                                    </section>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
    </div>
</template>

<script>
export default {
    name: "TabledemandeserviceItems",
    computed:{
        services () {
            return this.$store.getters['demandeservice/table']
        }
    },
    
    data () {
          return {
            demandeservice: {},
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
            loading: false,
            errors: [],
            showservice: {},
            statut:"",
            statusservices: [
                {
                    id: -1,
                    name: "Rejecté"
                },
                {
                    id: 0,
                    name: "Envoyer"
                },
                {
                    id: 1,
                    name: "Accepté"
                }
            ]
          }
        },
    methods: {
        updatedemandeservice(){
            this.alert.success = false;
            this.alert.error = false;
            this.loading = true
            this.$store.dispatch('demandeservice/update', {demandeservice: {
                ...this.showservice,
                statut: this.statut
            }}).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('demandeservice/list');
                    this.loading = false
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
        },
        changeStatus (service){
            this.showservice = service;
        },
        deleteService (id) {
        this.alert = null
        this.loading = true
        this.$store.dispatch('demandeservice/delete', {
            id:id
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('demandeservice/list')
                    this.loading = false
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            console.log(error)
        })
      },
    }
};
</script>

<style lang="scss" scoped></style>
