<template lang="html">
    <div class="table-responsive">
        <table class="table ps-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="typebonachat in typebonachats"
                :key="typebonachat.id"
                :id="typebonachat.id" >
                    <td>{{typebonachat.id}}</td>
                    <td>
                        <strong>{{typebonachat.name}}</strong>
                    </td>
                    <td>
                        <span @click="deleteBon(typebonachat)">
                            <i class="icon-trash2 mr-2"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "TableTypeVoucherItems",
    computed:{
        typebonachats () {
            return this.$store.getters['typebon/table']
        }
    },
    methods: {
        deleteBon (id) {
        this.alert = null
        this.loading = true
        this.$store.dispatch('typebon/delete', {
            id:id
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('typebon/list')
                    this.loading = false
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            console.log(error)
        })
      },
      updateBon(data) {
        this.$store.commit('typebonachat/edit_typebonachat', data);
      },
    }
};
</script>

<style lang="scss" scoped></style>
