<template lang="html">
    <div>
        <div class="table-responsive">
            <table class="table ps-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Demandeur</th>
                        <th>Objet</th>
                        <th>Montant Estimatif</th>
                        <th>PV</th>
                        <th>Etat</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="userrequest in userrequests"
                    :key="userrequest.id"
                    :id="userrequest.id" >
                        <td>
                            <strong>{{userrequest.id}}</strong>
                        </td>
                        <td>
                            <strong>{{userrequest.user.firstname}} {{userrequest.user.lastname}}</strong>
                        </td>
                        <td>
                            <strong>{{userrequest.objet}}</strong>
                        </td>
                        <td>{{userrequest.montantestimatif}}</td>
                        <td>{{userrequest.pv}}</td>
                        <td>{{userrequest.statename}}</td>  
                        <td>{{userrequest.description}}</td>                        
                        <td>
                        
                        <button v-if="userrequest.state == 0" class="btn" data-toggle="modal" data-target="#updateModal" @click="getchangestatus(userrequest)">
                            <i class="icon-pencil mr-2"></i>
                        </button>                            
                        <span class="btn" @click="deleteuserrequest(userrequest)">
                            <div v-if="loadingdelete" class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div> 
                            <i v-else class="icon-trash2 mr-2"></i>
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalTitle">Changer le status {{userrequest_id}} </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <figure class="ps-block--form-box">
                                    <div class="ps-block__content">
                                        <v-form @submit.prevent="updateuserrequest" class="ps-form ps-form--new">
        <div class="ps-form__content">
            <div class="form-group">
                                <label>PV</label>
                                <input
                                                class="form-control"
                                                type="text"
                                                v-model="userrequest.pv"
                                                placeholder="Entrer nombre de pv ..."
                                            />
                            </div>
        </div>
        <div class="ps-form__bottom">

            <button type="submit" class="ps-btn">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Valider</span>
                                </button>
        </div>
    </v-form>
                                    </div>
                                </figure>
                            </div>
                            </div>
                        </div>
                        </div>
    </div>
</template>

<script>
export default {
    name: "TableuserrequestItems",
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                userrequest: {
                    id:"",
                    state:1,
                    pv:""
                },
                loading: false,
                loadingdelete: false
            }
        },
    computed:{
        userrequests () {
            return this.$store.getters['userrequest/table']
        },
        services() {
            return this.$store.getters['service/table'];
        },
        users() {
            return this.$store.getters['user/table'];
        }
    },
    methods: {
    getchangestatus(data) {
        this.userrequest.id = data.id;
      },
        deleteuserrequest (id) {
        this.loadingdelete = true
        this.$store.dispatch('userrequest/delete', {
            id:id
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('userrequest/list');
                    this.loadingdelete = false
                    break;
                
                case false:
                    this.loadingdelete = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loadingdelete = false
            console.log(error)
        })
      },
      updateuserrequest() {
        this.alert.success = false;
            this.alert.error = false;
            this.loading = true
            this.$store.dispatch('userrequest/update', {
            userrequest:this.userrequest
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('userrequest/list');
                    this.loading = false
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            if (error.response && error.response.data) {
            this.alert = {type: 'error', message: error.response.data.message || error.reponse.status}
            }
        })
      },
      generateuserrequest(data){
        $bvModal.show('bv-modal-generate-userrequest');
        console.log(data);
      }
    }
};
</script>

<style lang="scss" scoped></style>
