<template lang="html">
    <div class="table-responsive">
        <table class="table ps-table">
            <thead>
                <tr>
                    <th>Code Marchand</th>
                    <th>Solde</th>
                    <th>Zone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="caisse in caissesFilter"
                :key="caisse.id"
                :id="caisse.id">
                    <td>{{caisse.codemarchant}}</td>
                    <td>
                        <strong>{{caisse.solde}}</strong>
                    </td>
                    <td>---</td>
                    <td>
                        <NuxtLink class="btn" :to="`/caissieres/${caisse.id}`">
                            <i class="icon-list mr-2"></i>
                        </NuxtLink>
                        <button class="btn" data-toggle="modal" data-target="#updateModal" @click="getupdatecaisse(caisse)">
                            <i class="icon-pencil mr-2"></i>
                        </button>
                        <span class="btn" @click="deletecaisse(caisse)">
                            <div v-if="loadingdelete" class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div> 
                            <i v-else class="icon-trash2 mr-2"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalTitle">Modifier la caisse </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <figure class="ps-block--form-box">
                                    <div class="ps-block__content">
                                        
                                        <div class="form-group">
                                            <label>
                                                Code Marchand<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                v-model="caisse.codemarchant"
                                                placeholder="Entrer code ..."
                                            />
                                        </div>

                                        <div class="form-group">
                                            <label>
                                                Localisation<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="text"
                                                placeholder="Entrer la zone ..."
                                            />
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="modal-footer">
                                <button class="ps-btn ps-btn--gray" data-dismiss="modal">Fermer</button>
                                <button @click="updatecaisse" class="ps-btn" type="button">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Modifier</span>
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
    </div>
</template>

<script>
export default {
    name: 'TablecaisseItems',
    props:['caissesFilter'],
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                caisse: {
                    codemarchant: '',
                    id:''
                },
                loading: false,
                loadingdelete: false
            }
        },
    methods: {
        deletecaisse (id) {
        this.loadingdelete = true
        this.$store.dispatch('user/delete', {
            id:id
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.loadingdelete = false
                    this.$store.dispatch('user/caisses');
                    break;
                
                case false:
                    this.loadingdelete = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loadingdelete = false
            console.log(error)
        })
      },
      getupdatecaisse(data) {
        this.caisse.codemarchant = data.codemarchant
        this.caisse.id = data.id
      },
     updatecaisse(){
            this.alert.success = false;
            this.alert.error = false;
            this.loading = true
            this.$store.dispatch('user/update', {user:this.caisse}).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('user/caisses');
                    this.loading = false
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
        },
    }
};
</script>

<style lang="scss" scoped></style>
