<template lang="html">
    <div class="table-responsive">
        <table class="table ps-table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Code</th>
                    <th>Nom</th>
                    <th>Role</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in usersFilter"
                :key="user.id"
                :id="user.id">
                <td>
                        <span v-if="user.is_activated == 1" class="ps-fullfillment success">Actif</span>
                        
                        <span
                            v-else
                            class="ps-fullfillment danger"
                        >
                            Inactif
                        </span>    
                </td>
                    <td>{{user.codemarchant}}</td>
                    <td>
                        <a href="#">
                            <strong>{{user.firstname}} {{user.lastname}}</strong>
                        </a>
                    </td>
                    <td>
                        <span
                            v-if="user.role == 0"
                            class="ps-fullfillment warning"
                        >
                            Client
                        </span>
                        <span
                            v-else-if="user.role == 1"
                            class="ps-fullfillment danger"
                        >
                            Admin
                        </span>
                        <span v-else-if="user.role == 2" class="ps-fullfillment success">Caissiere</span>
                        <span v-else-if="user.role == 3" class="ps-fullfillment danger">Revendeur</span>
                    </td>
                    <td>{{user.phonenumber}}</td>
                    <td>
                        <strong>{{user.email}}</strong>
                    </td>
                    <td>
                        <div class="btn-group">
                        <button class="btn btn-secondary btn-sm" type="button">
                            Actions
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <button type="button" data-toggle="tooltip" data-placement="top" title="Retirer le status de membre" v-if="user.ismembre == 1" class="btn btn-danger" @click="becomeMember(user, 0)">
                            <div v-if="loadingbecome" class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div> 
                            <i v-else class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </i>
                        </button>
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Devenir de membre" v-else class="btn btn-primary" @click="becomeMember(user, 1)">
                            <div v-if="loadingbecome" class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div> 
                            <i v-else class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            </i>
                        </button>
                        <NuxtLink data-toggle="tooltip" data-placement="top" title="Voir le détail" class="btn btn-info" :to="`/users/${user.id}`">
                            <i class="icon-list mr-2"></i>
                        </NuxtLink>
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Modifier un utilisateur" class="btn btn-warning" @click="updateUser(user)">
                            <i class="icon-pencil mr-2"></i>
                        </button>
                        
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Supprimer un utilisateur" class="btn btn-danger" @click="deleteUser(user)">
                            <div v-if="loadingdelete" class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div> 
                            <i v-else class="icon-trash2 mr-2"></i>
                        </button>
                        </div>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: 'TableUserItems',
    props:['usersFilter'],
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                user: {},
                errors: [],
                countries: [],
                loading: false,
                loadingdelete: false,
                loadingbecome: false
            }
        },
    methods: {
        deleteUser (id) {
        this.loadingdelete = true
        this.$store.dispatch('user/delete', {
            id:id
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.loadingdelete = false
                    this.$store.dispatch('user/list');
                    break;
                
                case false:
                    this.loadingdelete = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loadingdelete = false
        })
      },
      updateUser(data) {
        this.$store.commit('user/edit_user', data);
      },
      becomeMember(data, val) {
        this.loadingbecome = true
        this.$store.dispatch('user/update', {
            user : {
                id:data.id,
                ismembre:val
            }
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.loadingbecome = false
                    this.$store.dispatch('user/list');
                    break;
                
                case false:
                    this.loadingbecome = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loadingdelete = false
        })
      },
    }
};
</script>

<style lang="scss" scoped></style>
