<template lang="html">
    <div class="table-responsive">
        <table class="table ps-table">
            <thead>
                <tr>
                    <th>Référence</th>
                    <th>Date</th>
                    <th>Libelle</th>
                    <th>Etat</th>
                    <th>Montant</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in orders" key="{item.id}">
                    <td>{{ item.id }}</td>
                    <td>
                        <strong> {{ item.createdat }}</strong>
                    </td>
                    <td>
                            {{item.libelle}}
                    </td>
                    <td>
                        <span
                            v-if="item.etat === 0"
                            class="ps-fullfillment warning"
                        >
                            Achat de bon
                        </span>
                        <span
                            v-else-if="item.etat === 1"
                            class="ps-fullfillment danger"
                        >
                            Paiement Caissiere
                        </span>
                        <span v-else class="ps-fullfillment success">Paiement Manuel</span>
                    </td>
                    <td>
                        <strong>{{ item }} FCFA</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "TableOrderItems",
    props: ['orders'],
    data() {
        return {
            
        };
    }
};
</script>

<style lang="scss" scoped></style>
