<template lang="html">
    <div class="table-responsive">
        <table class="table ps-table">
            <thead>
                <tr>
                    <th>Référence</th>
                    <th>Date</th>
                    <th>Libelle</th>
                    <th>Etat</th>
                    <th>Montant</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in orders" key="{item.id}">
                    <td>{{ item.reference }}</td>
                    <td>
                        <strong> {{ item.date }} {{ item.heure }}</strong>
                    </td>
                    <td>
                        <nuxt-link to="#">
                            {{item.libelle}}
                        </nuxt-link>
                    </td>
                    <td>
                        <span
                            v-if="item.etat === 0"
                            class="ps-fullfillment warning"
                        >
                            Achat de bon
                        </span>
                        <span
                            v-else-if="item.etat === 1"
                            class="ps-fullfillment danger"
                        >
                            Paiement Caissiere
                        </span>
                        <span v-else class="ps-fullfillment success">Paiement Manuel</span>
                    </td>
                    <td>
                        <strong>{{ item.montant }} FCFA</strong>
                    </td>
                    <td>
                        <a href="#">
                            <i class="icon-pencil mr-2"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: 'TableOrderSummary',
    props: ['orders']
};
</script>

<style lang="scss" scoped></style>
