<template lang="html">
    <div class="table-responsive">
        <table class="table ps-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Montant</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="typecarte in typecartes"
                :key="typecarte.id"
                :id="typecarte.id" >
                    <td>{{typecarte.id}}</td>
                    <td>
                        <strong>{{typecarte.name}}</strong>
                    </td>
                    <td>
                        <strong>{{typecarte.montant}}</strong>
                    </td>
                    <td>
                        <strong>{{typecarte.description}}</strong>
                    </td>
                    <td>
                        <span @click="deleteBon(typecarte)">
                            <i class="icon-trash2 mr-2"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "TableTypeCardItems",
    computed:{
        typecartes () {
            return this.$store.getters['typecard/table']
        }
    },
    methods: {
        deleteBon (id) {
        this.alert = null
        this.loading = true
        this.$store.dispatch('typecard/delete', {
            id:id
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('typecard/list')
                    this.loading = false
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            console.log(error)
        })
      },
    }
};
</script>

<style lang="scss" scoped></style>
