<template lang="html">
    <div>
        <div class="table-responsive">
            <table class="table ps-table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Montant</th>
                        <th>Point Valeur</th>
                        <th>Prix</th>
                        <th>Type de Bon</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="bonachat in bonachats"
                    :key="bonachat.id"
                    :id="bonachat.id" >
                        <td><img :src="bonachat.image" class="img-fluid img-thumbnail" alt="..."/></td>
                        <td>
                            <strong>{{bonachat.libelle}}</strong>
                        </td>
                        <td>{{bonachat.montant}}</td>
                        <td>{{bonachat.pv}}</td>
                        <td>{{bonachat.prix}}</td>
                        <td>{{bonachat.typebonachat.name}}</td>
                        
                        <td>
                            <button class="btn" data-toggle="modal" data-target="#barcodeModal">
                                <i class="icon-barcode mr-2"></i>
                            </button>
                            <button class="btn" data-toggle="modal" data-target="#updateModal" @click="getupdatebon(bonachat)">
                                <i class="icon-pencil mr-2"></i>
                            </button>
                            
                        <span class="btn" @click="deleteBon(bonachat)">
                            <div v-if="loadingdelete" class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div> 
                            <i v-else class="icon-trash2 mr-2"></i>
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalTitle">Modifier un type de bon </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <figure class="ps-block--form-box">
                                    <div class="ps-block__content">
                                        <v-form @submit.prevent="submit" class="ps-form ps-form--new">
                                            <div class="ps-form__content">
                                                <div class="form-group">
                                                    <label> Couleur<sup>*</sup> </label>
                                                    <input v-model="bonachat.color" type="color" id="color"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>Image<sup>*</sup> </label>
                                                    <input
                                                    type="file"
                                                    class="form-control"
                                                    accept=".jpeg,.jpg,.png,image/jpeg,image/png"
                                                    aria-label="upload image button"
                                                    @change="selectFile"
                                                    />
                                                </div>

                                                <div class="form-group">
                                                    <label> Libelle<sup>*</sup> </label>
                                                    <input class="form-control" type="text" v-model="bonachat.libelle" placeholder="Entrer bon d'achat name" />
                                                </div>
                                                <div class="form-group">
                                                    <label> PV<sup>*</sup> </label>
                                                    <input class="form-control" type="number" v-model="bonachat.pv" placeholder="Entrer point valeur" />
                                                </div>
                                                <div class="form-group">
                                                    <label> Montant<sup>*</sup> </label>
                                                    <input class="form-control" type="number" v-model="bonachat.montant" placeholder="Entrer montant" />
                                                </div>
                                                <div class="form-group">
                                                    <label> Prix<sup>*</sup> </label>
                                                    <input class="form-control" type="number" v-model="bonachat.prix" placeholder="Entrer prix" />
                                                </div>
                                                <div class="form-group">
                                                                    <label>Type de Bon Achat</label>
                                                                    <div>
                                                                        <select
                                                                        v-model="bonachat.typebonachat"
                                                                        class="form-control"
                                                                            title="Type de Bon">
                                                                            <option v-for="type_bon in typebonachats" :key="type_bon.id" :value="type_bon.id">
                                                                                {{type_bon.name}}
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                            </div>
                                        </v-form>
                                    </div>
                                </figure>
                            </div>
                            <div class="modal-footer">
                                <button class="ps-btn ps-btn--gray" data-dismiss="modal">Fermer</button>
                                <button @click="updateBon" class="ps-btn" type="button">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Modifier</span>
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
    </div>
</template>

<script>
export default {
    name: "TableVoucherItems",
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                bonachat: {
                    color:'',
                    image:''
                },
                loading: false,
                loadingdelete: false
            }
        },
    computed:{
        bonachats () {
            return this.$store.getters['bonachat/table']
        },
        typebonachats() {
            return this.$store.getters['typebon/table'];
        }
    },
    methods: {

        deleteBon (id) {
        this.loadingdelete = true
        this.$store.dispatch('bonachat/delete', {
            id:id
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('bonachat/list');
                    this.loadingdelete = false
                    break;
                
                case false:
                    this.loadingdelete = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loadingdelete = false
            console.log(error)
        })
      },
      async selectFile(e) {
        const file = e.target.files[0];
        if (!file) return;
        let formData = new FormData();
        formData.append("fileToUpload", file);
        /* Make sure file exists */
        this.$store.dispatch('bonachat/uploadimage', formData).then(result => {
            switch (result.data.success) {
                case true:
                    this.bonachat.image = result.data.src
                    break;
                
                case false:
                    this.loading = false
                    break;
            }
        }).catch(error => {
            this.loading = false
        })
        },
      updateBon() {
        this.alert.success = false;
            this.alert.error = false;
            this.loading = true
            this.$store.dispatch('bonachat/update', {
            bonachat:this.bonachat
        }).then(result => {
            switch (result.data.success) {
                case true:
                    this.$store.dispatch('bonachat/list');
                    this.loading = false
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de l'opération";
                    break;
                
                case false:
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            if (error.response && error.response.data) {
            this.alert = {type: 'error', message: error.response.data.message || error.reponse.status}
            }
        })
      },
      generateVoucher(data){
        $bvModal.show('bv-modal-generate-voucher');
        console.log(data);
      },
      getupdatebon(data){
        this.bonachat.id = data.id
        this.bonachat.color = data.color
        this.bonachat.image = data.image
        this.bonachat.libelle = data.libelle
        this.bonachat.montant = data.montant
        this.bonachat.pv = data.pv
        this.bonachat.prix = data.prix
        this.bonachat.typebonachat = data.typebonachat.id
      }
    }
};
</script>

<style lang="scss" scoped></style>
