<template lang="html">
    <div class="ps-page">
        <header-dashboard title="Bons D'achats" description="Liste des bons d'achats" />
        <section class="ps-dashboard ps-items-listing">
            <div class="ps-section__left">
                <div class="ps-section__header">
                    <form-search-simple />
                    <div class="ps-section__actions p-0">
                        <form-create-type-voucher />
                    </div>
                </div>
                <div class="ps-section__content">
                    <table-voucher-items />
                    <div class="ps-section__footer">
                        <p>Show 5 in 30 items.</p>
                    </div>
                </div>
            </div>
            <div class="ps-section__right">
                <form-create-voucher />
            </div>
        </section>
    </div>
</template>

<script>
import FormSearchSimple from "~/components/shared/forms/FormSearchSimple";
import TableVoucherItems from "~/components/shared/tables/TableVoucherItems";
import FormCreateVoucher from "~/components/shared/forms/FormCreateVoucher";
import HeaderDashboard from "~/components/shared/headers/HeaderDashboard";
import FormCreateTypeVoucher from "~/components/shared/forms/FormCreateTypeVoucher";

export default {
    name: "VouchersScreen",
    auth: false,
    components: {
        HeaderDashboard,
        FormCreateVoucher,
        TableVoucherItems,
        FormSearchSimple,
        FormCreateTypeVoucher
    },
    beforeMount(){
        this.$store.dispatch('bonachat/list')
        this.$store.dispatch('typebon/list')
    }
};
</script>

<style lang="scss" scoped></style>
