<template lang="html">
    <div class="ps-page">
        <header-dashboard title="Consommations" description="Liste des demandes" />
        <section class="ps-dashboard ps-items-listing">
            <div class="ps-section__left">
                <div class="ps-section__header">
                    <form-search-simple />
                    <div class="ps-section__actions p-0">
                        <form-create-service />
                        <form-create-consumption />
                    </div>
                </div>
                <div class="ps-section__content">
                    <table-consumption-items />
                    <div class="ps-section__footer">
                        <p>Show 5 in 30 items.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import FormSearchSimple from "~/components/shared/forms/FormSearchSimple";
import TableConsumptionItems from "~/components/shared/tables/TableConsumptionItems";
import FormCreateConsumption from "~/components/shared/forms/FormCreateConsumption";
import HeaderDashboard from "~/components/shared/headers/HeaderDashboard";
import FormCreateService from "~/components/shared/forms/FormCreateService";

export default {
    name: "ConsumptionsScreen",
    auth: false,
    components: {
        HeaderDashboard,
        FormCreateConsumption,
        TableConsumptionItems,
        FormSearchSimple,
        FormCreateService
    },
    beforeMount(){
        this.$store.dispatch('userrequest/list')
        this.$store.dispatch('service/list')
    }
};
</script>

<style lang="scss" scoped></style>
