<template lang='html'>
    <section class="ps-page">
        <form-user-create-new/>
    </section>
</template>

<script>
import FormUserCreateNew from '~/components/shared/forms/FormUserCreateNew';
export default {
    name: 'new-user',
    auth: false,
    components: { FormUserCreateNew }
};
</script>

<style lang="scss" scoped>

</style>
