<template lang="html">
    <section class="ps-page">
        <header-dashboard title="Utilisateurs" description="Liste des utilisateurs" />
        <section class="ps-items-listing">
            <div class="ps-section__header">
                <div class="form-group">
                                            <label>Filter par rôle : </label>
                                            <div>
                                                <select
                                                v-model="searchValue"
                                                class="form-control"
                                                    title="Role">
                                                    <option v-for="role in roles" :key="role.id" :value="role.id">
                                                        {{role.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                
            <div class="ps-section__actions my-auto">
                <nuxt-link to="/users/create-new" class="ps-btn success">
                    <i class="icon icon-plus mr-2" />
                    Nouveau Utilisateur
                </nuxt-link>
            </div>
            </div>
            <div class="ps-section__content">
                <table-user-items :usersFilter="usersFilter"/>
            </div>
            <div class="ps-section__footer">
                <p>Show 10 in 30 items.</p>
                <pagination />
            </div>
        </section>
    </section>
</template>

<script>
import TableUserItems from "~/components/shared/tables/TableUserItems";
import HeaderDashboard from "~/components/shared/headers/HeaderDashboard";
import Pagination from "~/components/basic/Pagination";
export default {
    //middleware: 'auth-redirect',
    data () {
            return {
                searchValue: '',
                users: [],
                roles: [{id:0,name:'Client'},{id:1,name:'Admin'},{id:2,name:'Caissiere'},{id:3,name:'Revendeur'}],
            }
        },
    components: { Pagination, HeaderDashboard, TableUserItems },
    computed:{
            usersFilter() {
                let tempUsers = this.$store.getters['user/table'];
        
                // Process search input
                if (this.searchValue != '' && this.searchValue) {
                    tempUsers = tempUsers.filter((item) => {
                        return item.role.includes(this.searchValue)
                    })
                }

                return tempUsers
            }
        },
        beforeMount(){
            this.$store.dispatch('user/list')
        }
};
</script>

<style lang="scss" scoped>
    .ps-items-listing .ps-section__actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 0px !important;
    }
</style>

