<template lang="html">
    <main class="ps-main">
        <div class="ps-main__wrapper">
            <nuxt />
        </div>
    </main>
</template>
<script>
    import FooterCopyright from "~/components/shared/footers/FooterCopyright";
    
    export default {
        name: "fullscreen",
        components: {
            FooterCopyright
        }
    };
    </script>
    
    <style lang="scss" scoped>
        .ps-main {
            /* display: flex; */
            /* flex-flow: row nowrap; */
            /* justify-content: space-between; */
            /* align-items: stretch; */
            /* padding-top: 0; */
            min-height: 100vh;
            padding: 0px !important;
        }
        .ps-main .ps-main__wrapper {
            padding: 0px 0px !important; 
        }
    </style>