<template lang="html">
    <div class="ps-page">
        <header-dashboard title="Demande de service" description="Liste des demandes" />
        <section class="ps-dashboard ps-items-listing">
            <div class="ps-section__left">
                <div class="ps-section__header">
                    <form-search-simple />
                    <div class="ps-section__actions p-0">
                        <form-create-category-service />
                        <form-create-demande-service />
                    </div>
                </div>
                <div class="ps-section__content">
                    <table-demande-service-items />
                    <div class="ps-section__footer">
                        <p>Show 5 in 30 items.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import FormSearchSimple from "~/components/shared/forms/FormSearchSimple";
import TableDemandeServiceItems from "~/components/shared/tables/TableDemandeServiceItems";
import FormCreateCategoryService from "~/components/shared/forms/FormCreateCategoryService";
import HeaderDashboard from "~/components/shared/headers/HeaderDashboard";
import FormCreateDemandeService from "~/components/shared/forms/FormCreateDemandeService";

export default {
    name: "DemandeServiceScreen",
    auth: false,
    components: {
        HeaderDashboard,
        FormCreateCategoryService,
        TableDemandeServiceItems,
        FormSearchSimple,
        FormCreateDemandeService
    },
    beforeMount(){
        this.$store.dispatch('userrequest/list')
        this.$store.dispatch('demandeservice/list')
        this.$store.dispatch('categoryservice/list')
    }
};
</script>

<style lang="scss" scoped></style>
