<template lang="html">
    <section class="ps-card ps-card--statics">
        <div class="ps-block--earning-count">
                    <small>Code Marchand</small>
                    <h3>{{code}}</h3>
                </div>
                <br>

        <div class="ps-card__content">
            <div class="ps-block--stat yellow">
                <div class="ps-block__left">
                    <span>
                        <i class="fa fa fa-money"></i>
                    </span>
                </div>
                <div class="ps-block__content">
                    <p>Solde</p>
                    <h4 class="asc">
                        {{solde}} XAF
                    </h4>
                    
                    <span class="btn btn-warning mx-auto" data-toggle="modal" data-target="#rechargeModal">
                            <small>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                                </svg>
                            </small>
                        </span>
                        <span class="btn btn-danger mx-auto" data-toggle="modal" data-target="#debitModal">
                            <small>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                            </small>
                        </span>
                        <span class="btn btn-secondary mx-auto" @click="reset">
                                <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div> 
                                
                                <small v-else>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </small>
                        </span>
                </div>
                
            </div>
            <!-- Modal -->
            <div class="modal fade" id="debitModal" tabindex="-1" role="dialog" aria-labelledby="debitModalTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="debitModalTitle">Débiter le solde</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <figure class="ps-block--form-box">
                                    <div class="ps-block__content">
                                        
                                        <div class="form-group">
                                            <label>
                                                Montant du débit<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="number"
                                                v-model="montant"
                                                placeholder="Entrer nomtant ..."
                                            />
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="modal-footer">
                                <button class="ps-btn ps-btn--gray" data-dismiss="modal">Fermer</button>
                                <button @click="debit" class="ps-btn" type="button">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Débiter</span>
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
            <!-- Modal -->
            <div class="modal fade" id="rechargeModal" tabindex="-1" role="dialog" aria-labelledby="rechargeModalTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="rechargeModalTitle">Recharger le solde</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div v-if="alert.success" class="alert alert-success" role="alert">
                                    {{alert.message}}
                                </div>
                                <div v-if="alert.error" class="alert alert-danger" role="alert">
                                    
                                    <span> - {{alert.message}}</span> <br>
                                    <span v-for="error in errors" :key="error"> - {{error}} <br></span>
                                </div>
                                <figure class="ps-block--form-box">
                                    <div class="ps-block__content">
                                        
                                        <div class="form-group">
                                            <label>
                                                Montant de la recharge<sup>*</sup>
                                            </label>
                                            <input
                                                class="form-control"
                                                type="number"
                                                v-model="montant"
                                                placeholder="Entrer nomtant ..."
                                            />
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="modal-footer">
                                <button class="ps-btn ps-btn--gray" data-dismiss="modal">Fermer</button>
                                <button @click="recharge" class="ps-btn" type="button">
                                    <div v-if="loading" class="spinner-grow spinner-grow-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div> 
                                    <span v-else> Recharger</span>
                                </button>
                            </div>
                            </div>
                        </div>
                        </div>
            <div class="ps-block--stat pink">
                <div class="ps-block__left">
                    <span>
                        <i class="fa fa-circle"></i>
                    </span>
                </div>
                <div class="ps-block__content">
                    <p>PV</p>
                    <h4 class="asc">
                        {{pv}}
                    </h4>
                </div>
            </div>
            
        </div>
    </section>
</template>

<script>
export default {
    name: 'CardStatics',
    data () {
            return {
                alert: {
                    error:false,
                    success:false,
                    message:''
                },
                montant: '',
                loading: false,
            }
        },
    props: ['solde','pv','id','code'],
    methods: {
        debit(){
            this.loading = true
            let solde = this.solde - this.montant;
            if(solde < 0){
                this.loading = false
                this.alert.error = true;
                this.alert.message = "Echec de l'opération, le montant à débiter doit être inférieur au solde";
                return 0;
            }

            this.$store.dispatch('user/update', {user:{
                id: this.id,
                solde: solde,
                adminid: this.$store.state.user.id
            }}).then(result => {
            switch (result.data.success) {
                case true:
                    this.$parent.getUser();
                    this.loading = false
                    break;
                
                case false:
                    console.log(result.data)
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
        },
        reset(){
            this.loading = true
            this.$store.dispatch('user/update', {user:{
                id: this.$route.params.caissiere,
                solde:0
            }}).then(result => {
            switch (result.data.success) {
                case true:
                    this.$parent.getUser();
                    this.loading = false
                    break;
                
                case false:
                    console.log(result.data)
                    this.loading = false
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
        },
        recharge(){
            this.loading = true
            let fd = new FormData()
            fd.append("montant", this.montant);
            fd.append("caissiereid", this.id);
            fd.append("adminid", this.$store.state.user.id);
            this.$store.dispatch('user/rechargerevendeur', fd).then(result => {
            switch (result.data.success) {
                case true:
                    this.montant = ''
                    this.$parent.getUser();
                    this.$parent.getPaiement();
                    this.loading = false
                    this.alert.success = false;
                    this.alert.success = true;
                    this.alert.message = result.data.detail || "Succés de la recharge";
                    break;
                
                case false:
                    console.log(result.data)
                    this.loading = false
                    this.alert.error = true;
                    this.errors = result.data.error;
                    this.alert.message = result.data.message;
                    break;
            }
            //this.$router.push('/admin')
        }).catch(error => {
            this.loading = false
            this.alert.error = true;
            this.alert.message = "Echec de l'opération";
            console.log(error)
        })
        }
    }
};
</script>

<style lang="scss" scoped>
    .ps-block--stat h4 small {
        margin-left: 0em !important;
        font-size: 14px;
    }
</style>
