<template lang="html">
    <div class="ps-card">
        <div class="ps-card__header">
            <h4>Liste des Transactions</h4>
        </div>

        <div class="ps-card__content">
            <div class="table-responsive">
        <table class="table ps-table">
            <thead>
                <tr>
                    <th>Référence</th>
                    <th>Utilisateur</th>
                    <th>Date</th>
                    <th>Libelle</th>
                    <th>Montant</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in orders" key="{item.id}">
                    <td>{{ item.reference }}</td>
                    <td>
                        <strong> {{ item.user.firstname }} {{ item.user.lastname }}</strong>
                    </td>
                    <td>
                        <strong> {{ item.createdat }}</strong>
                    </td>
                    <td>
                        <span
                            v-if="item.type === '-1'"
                            class="ps-fullfillment danger"
                        >
                            Paiement bon achat Manuel
                        </span>
                        <span
                            v-if="item.type === '-3'"
                            class="ps-fullfillment danger"
                        >
                           Recharge
                        </span>
                        <span
                            v-if="item.type === '-2'"
                            class="ps-fullfillment warning"
                        >
                           Transfert
                        </span>
                        <span
                            v-if="item.type === '0'"
                            class="ps-fullfillment warning"
                        >
                           paiement bon achat
                        </span>
                        <span
                            v-if="item.etat === '1'"
                            class="ps-fullfillment danger"
                        >
                            Paiement Caissiere automatique/semiautomatique
                        </span>
                        <span v-if="item.etat === '2'" class="ps-fullfillment success">Paiement Caissiere Manuel</span>
                    </td>
                    <td>
                        <strong>{{ item.montant }} FCFA</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        </div>

        <div class="ps-card__footer">
            
        </div>
    </div>
</template>

<script>
import TableOrderSummary from '~/components/shared/tables/TableOrderSummary';
export default {
    name: 'CardRecentOrders',
    props: ['orders'],
    components: { TableOrderSummary }
};
</script>

<style lang="scss" scoped></style>
