<template lang="html">
    <div class="ps-block--earning-count">
        <small>Role</small>
        <h3>{{role}}</h3>
    </div>
</template>

<script>

//import { mapGetters } from 'vuex'
export default {
    name: "WidgetEarningSidebar",
    computed: {
        role(){
                return this.$store.getters['user/role']
            },
    },
}
</script>

<style lang="scss" scoped>

</style>
