<template lang='html'>
    <div class="ps-block--user-wellcome">
        <div class="ps-block__left">
            <img src="" alt="" />
        </div>
        <div class="ps-block__right">
            <p>
                Bienvenu,<a href="#">{{ user }} </a>
            </p>
        </div>
        <div class="ps-block__action btn" @click="logout">
                <i class="icon-exit"></i>
        </div>
    </div>
</template>
<script>
    //import { mapGetters } from 'vuex'
    
    export default {
        name: 'WidgetUserWelcome',
        computed: {
            user(){
                return this.$store.getters['user/index']
            },
            
            role(){
                return this.$store.getters['user/role']
            },
        },
        methods: {
            async logout() {
                localStorage.clear()
                //await this.$auth.logout();
                this.$router.push('/authenticate/login');
            },
        }
    }
    </script>

<style lang='scss' scoped>

</style>
