<template lang="html">
    <div class="ps-page">
        <header-dashboard title="Cartes" description="Liste des cartes" />
        <section class="ps-dashboard ps-items-listing">
            <div class="ps-section__left">
                <div class="ps-section__header">
                    <form-search-simple />
                    <div class="ps-section__actions p-0">
                        <form-create-type-card />
                    </div>
                </div>
                <div class="ps-section__content">
                    <table-card-items />
                    <div class="ps-section__footer">
                        <p>Show 5 in 30 items.</p>
                    </div>
                </div>
            </div>
            <div class="ps-section__right">
                <form-create-card />
            </div>
        </section>
    </div>
</template>

<script>
import FormSearchSimple from "~/components/shared/forms/FormSearchSimple";
import TableCardItems from "~/components/shared/tables/TableCardItems";
import FormCreateCard from "~/components/shared/forms/FormCreateCard";
import HeaderDashboard from "~/components/shared/headers/HeaderDashboard";
import FormCreateTypeCard from "~/components/shared/forms/FormCreateTypeCard";

export default {
    name: "CardsScreen",
    auth: false,
    components: {
        HeaderDashboard,
        FormCreateCard,
        TableCardItems,
        FormSearchSimple,
        FormCreateTypeCard
    },
    beforeMount(){
        this.$store.dispatch('card/list')
        this.$store.dispatch('typecard/list')
    }
};
</script>

<style lang="scss" scoped></style>
